* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'josefin Sans', sans-serif;
}

:root {
    --near-dark: #333;
    --near-white: #efefef;
    --near-green: #00ec37;
    --near-blue: #00de9f;
}

body {
    background-color: var(--near-dark);
    color: var(--near-white);
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    padding: 50px 20px 30px;
}

.header h1 {
    font-size: 3.7rem;
    background: -webkit-linear-gradient(var(--near-green), var(--near-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header h1, .header input {
    text-align: center;
} 

.header input {
    margin-top: 2rem;
    width: 100;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--near-green);
    font-size: 1.25rem;
    color: var(--near-white);
}

.content .city {
    font-size: 2.25rem;
    font-weight: 500;
}

.content .city, .content .desc {
    margin-bottom: 10px;
}

.content .temp {
    font-size: 6.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.content .desc, .content .minmax {
    font-size: 1.5rem;
}